	# This TravisCI script is very minimal and not very flexible.
# It only tests one environment on Linux with Python 3.7.
# We will eventually want to expand our test environments.
sudo: false
language: python
python:
    - "3.7"
install:
    # https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/use-conda-with-travis-ci.html
    - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
    - bash miniconda.sh -b -p $HOME/miniconda
    - source "$HOME/miniconda/etc/profile.d/conda.sh"
    - hash -r
    - conda activate base
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    - conda install -q conda-build black
    - echo $PATH
    - conda info -a

script:
    - black --check --diff metagraph_cuda
    - conda build --build-only -c defaults -c metagraph/label/dev -c rapidsai -c conda-forge --python ${TRAVIS_PYTHON_VERSION} continuous_integration/conda
    - conda install -q anaconda-client
    - OUTPUT=$(conda build --output -c defaults -c metagraph/label/dev -c rapidsai -c conda-forge --python ${TRAVIS_PYTHON_VERSION} continuous_integration/conda)
    - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then anaconda -t $ANACONDA_TOKEN upload -u metagraph -l dev --no-progress --force --no-register $OUTPUT; fi'

notifications:
    email: false

env:
  global:
    secure: "oMcGm6/8sxKKEZZZWz3oP10QuJi93NO0JDhSS7KTMACQ3iXH/GnO/HjNHoUGocKXFo2RyxuWIGAN3cH1VmQ3btaDXTIP0AN3BSzk7oFgK3k+35h6rRIgxRNqG+/WZ5YHCO60nL/rsIueAMVNFY65Zih1mPzQKtHxWljuRPuhkk3AjeF5zZeEfE1g1+aCw9rv0YoYXMawobpr0VVC7+BYnQ2frO/QB31vKTATEUblSzU1nNl5pF5IVdYcpia+LnJnPGesYPaAg7DU9uQv16NZwF4XbfD1HdclTHeRn++p8X+3rUFiTeuDonwNGR1u8t0Ct9mdYx3c9E44zmWrdUYxVwo9zeU3AixP1X3Uab5rw2nORoy7qx46dJ/o4hbr6sXLR8FMEnLDdijmNRqnOAsZ2FUc3SVL3S9GypqSwJuAxYIN+irm81TBqZXxqfc5pUqMIDx6XHcC8pWmaxCox5PFLiqk1he3X3+X2ZjW5ae1bt1NVALL6jxTWijrntwQpu0n/ojYB4lvP3v+9GWUe8/eqh7Uy0HDxCDSTn9AeGaGeHrt412rvSYnXa3K188XI2DtHnkwBnLWvhEckIl2gTppZuU1ypjn1y0UKLEkvNVfa/qXRm2uddazZjqp2Z3PRIEh+fIGKYqdrIZlizr1KY4H2FE/REyddtxsw4qiKMEyhOU="
